body 		{
	/* background: #ff2d33; */
	background-image: url(Images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	font-family: "Oswald";
	color: #fff;
}

p 			{
	font-size: 14px;
	line-height: 1.5;
}

.heading {
	font-family: "Patua One";
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.heading h1 {
	font-size: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.wrapper .center-block span#temperature 		{
	display: inline-block;
	font-size: 30px;
}


/* .wrapper .center-block button 			{
	font-size: 30px;
	background: transparent;
	border: none;
	margin-left: 5px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position: absolute;
	top: 47%;
	left: 57%;
} */

button 		{
	border: none;
	padding: 10px;
	background: transparent;
	font-size: 30px;
}

 .wrapper {
	margin-top: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
} 
 
.info-box {
	/* border: 1px solid mediumseagreen; */
	width: 200px;
	height: 200px;
	border-radius: 50%;
	/* background: #00b230; */
	background: #555;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .info-box h3, .info-box h2 {
	padding-top: 80px;
} */

#wrapper 		{
	border: 2px solid magenta;
}

.display-none 			{
	display: none
}

#footer 		{
	width: 100%;
	margin-top: 15px;
}

.text-container 		{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #222;
	letter-spacing: 1px;
}

#footer p 			{
	font-size: 16px;
	color: #fff;
}

#footer a 		{
	font-size: 18px;
	color: #60768b;
}


#footer a:hover 			{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
}