body 		{
	/* background: #ff2d33; */
	background-image: url(Images/bg.jpg);
	font-family: "Oswald";
	color: #fff;
}

.heading {
	font-family: "Patua One";
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.heading h1 {
	font-size: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.wrapper {
	 border: 1px solid #fff; 
	margin-top: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.info-box {
	/* border: 1px solid mediumseagreen; */
	width: 200px;
	height: 200px;
	border-radius: 50%;
	/* background: #00b230; */
	background: #555;
	text-align: center;
}

.info-box h3, .info-box h2 {
	padding-top: 80px;
}

#wrapper 		{
	border: 2px solid magenta;
}

.display-none 			{
	display: none
}