body        {
    background-image: url(../../../Images/Web-Images/cloud.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    text-align: center;
    color: #222;
}

h1      {
    border: 2px solid white;
    text-align: center;
    font-family: "Oswald";
    font-size: 3em;
}

#wrapper        {
    background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
    text-align: center;
    border: 2px solid green;
}

#container          {
    border: 2px solid maroon;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    background-color: black;
    opacity: 0.6;
}

#temp-container         {
    border: 2px solid navy;
}

.temp           {
    border: 2px solid teal;
    display: inline-block;
}


#location               {
    border: 2px solid yellow;
}

#view           {
    border: 2px solid magenta;
    color: #fff;
    font-weight: 700;
}

#temp-container, #location, #view       {
    margin: 20px;
}